/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.min.css";
div.card-header {
    font-size: large;
    color: rgb(216, 87, 13)
}

div.card-body {
    color: darkviolet
}

div.card {
    margin-top: 30px
}

.table {
    margin-top: 300px
}